doctype html
html
  head
    title= title
    meta(name="Description", content="Shaiii CDN, ShaiiiCDN, shaiii, cdn, p2p, decentralized cdn, serverless cdn, serverless")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='manifest', href='/manifest.json')
  body
    block content
